<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!ingresarEnable" class="subtitulo ion-text-wrap">
      Perfil
    </ion-title>
    <ion-title *ngIf="ingresarEnable" class="subtitulo ion-text-wrap">
      Inicio de secion
    </ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon color="primary" slot="icon-only" name="menu-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
    <ion-content>

      <div *ngIf="!uid.length">

        <h3 class="subtitulo encabezado">Ingrese sus datos</h3>  
        <ion-item>
          <ion-label class="normal" position="floating">
            Email: 
          </ion-label>
          <ion-input name="email" [(ngModel)]="cliente.email" class="normal" type="text" inputmode="text"></ion-input>
        </ion-item>

        <ion-item *ngIf="!ingresarEnable">
          <ion-label class="normal" position="floating">
            Nombre:
          </ion-label>
          <ion-input name="nombre" [(ngModel)]="cliente.nombre" class="normal" type="text" inputmode="text"></ion-input>
        </ion-item>

        <ion-item *ngIf="!ingresarEnable">
          <ion-label class="normal" position="floating">
            Segundo Nombre:
          </ion-label>
          <ion-input name="segundoNombre" [(ngModel)]="cliente.segundoNombre" class="normal" type="text" inputmode="text"></ion-input>
        </ion-item>
        
        <ion-item *ngIf="!ingresarEnable">
          <ion-label class="normal" position="floating">
            Primer Apellido:
          </ion-label>
          <ion-input name="primerApellido" [(ngModel)]="cliente.apellido" class="normal" type="text" inputmode="text"></ion-input>
        </ion-item>

        <ion-item *ngIf="!ingresarEnable">
          <ion-label class="normal" position="floating">
            Segundo Apellido:
          </ion-label>
          <ion-input name="segundoApellido" [(ngModel)]="cliente.segundoApellido" class="normal" type="text" inputmode="text"></ion-input>
        </ion-item>

        <ion-item *ngIf="!ingresarEnable">
          <ion-label class="normal" position="floating">
            Referencia a la ubicación:
          </ion-label>
          <ion-input name="referencia" [(ngModel)]="cliente.referencia" class="normal" type="text" inputmode="text"></ion-input>
        </ion-item>
        
        <ion-item *ngIf="!ingresarEnable">
          <ion-label class="normal" position="floating">
            Referencia a la ubicación 2:
          </ion-label>
          <ion-input name="referenciaDos" [(ngModel)]="cliente.referenciaDos" class="normal" type="text" inputmode="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="normal" position="floating">
            Celular:
          </ion-label>
          <ion-input [(ngModel)]="cliente.celular" class="normal" type="text" inputmode="numeric"></ion-input>
        </ion-item>
        
     

        <ion-item *ngIf="!ingresarEnable">
          <ion-label class="normal">
            Foto:
          </ion-label>
          <ion-buttons slot="end">
            <ion-button>
              <label for="file-upload">
                <ion-icon slot="icon-only" name="images-outline"></ion-icon>
              </label>
              <input (change)="newImageUpload($event)" id="file-upload" class="b-foto" type="file" accept="image/*"> 
            </ion-button>
          </ion-buttons>
        </ion-item>
    
        <ion-item *ngIf = "!ingresarEnable">
          <img [src]="cliente.foto" class="view-foto" >
        </ion-item>
        
        <div class="b-nuevo">
          <ion-button  *ngIf="!ingresarEnable" (click)="registrarse()" class="b-ingresar " color="tertiary">Registrarse</ion-button>
          <ion-button *ngIf="!ingresarEnable" (click)="ingresarEnable = true" class="b-ingresar " color="tertiary">Ingresar</ion-button>
          <ion-button *ngIf="ingresarEnable" (click)="ingresar()" class="b-ingresar " color="tertiary">Login</ion-button>
          <ion-button  *ngIf="ingresarEnable" (click)="ingresarEnable = false" class="b-ingresar " color="tertiary">Ir a Registrarse</ion-button>
        </div>
      </div>

      <div *ngIf="uid.length">

        <h3 class="subtitulo encabezado">Sus Datos</h3>  

        <ion-item>
          <ion-label class="normal">
            Email: {{cliente.email}}
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="normal">
            Celular: {{cliente.celular}}
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label class="normal" position="floating">
            Nombre:
          </ion-label>
          <ion-input [(ngModel)]="cliente.nombre" class="normal" type="text" inputmode="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="normal" position="floating">
            Segundo Nombre:
          </ion-label>
          <ion-input name="segundoNombre" [(ngModel)]="cliente.segundoNombre" class="normal" type="text" inputmode="text"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label class="normal" position="floating">
            Primer Apellido:
          </ion-label>
          <ion-input name="primerApellido" [(ngModel)]="cliente.apellido" class="normal" type="text" inputmode="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="normal" position="floating">
            Segundo Apellido:
          </ion-label>
          <ion-input name="segundoApellido" [(ngModel)]="cliente.segundoApellido" class="normal" type="text" inputmode="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="normal" position="floating">
            Referencia a la ubicación:
          </ion-label>
          <ion-input [(ngModel)]="cliente.referencia" class="normal" type="text" inputmode="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="normal" position="floating">
            Referencia a la ubicación 2:
          </ion-label>
          <ion-input name="referenciaDos" [(ngModel)]="cliente.referenciaDos" class="normal" type="text" inputmode="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label class="normal">
            Foto:
          </ion-label>
          <ion-buttons slot="end">
            <ion-button>
              <label for="file-upload">
                <ion-icon slot="icon-only" name="images-outline"></ion-icon>
              </label>
              <input (change)="newImageUpload($event)" id="file-upload" class="b-foto" type="file" accept="image/*">             
            </ion-button>
          </ion-buttons>
        </ion-item>
    
        <ion-item>
          <img [src]="cliente.foto" class="view-foto" >
        </ion-item>
        
        
        <ion-button (click)="guardarUser()" class="b-ingresar " color="tertiary">Guardar</ion-button>
        
        <ion-button (click)="salir()" class="b-ingresar " color="tertiary">Salir</ion-button>
      </div>
      



    </ion-content>