.b-nuevo {
    margin: 10px;
}

.view-foto {
    border: 1px solid #e9ecef !important;
    margin: auto !important;
    width: 100% !important;
    border-radius: 20px !important;
}

.b-foto {
    display: none !important;
    display: none;
}

.b-ingresar {
    padding: 5px !important;
    width: 100%;
}