
.encabezado {
    background: #384655;
    border-radius: 30px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    color: white;
}

.b-nuevo {
    text-align: end;
    margin: 10px;
    border-radius: 15px;
    padding: 5px;
}

.b-foto {
    display: none !important;
    display: none;
}

.view-foto {
    border: 1px solid #e9ecef !important;
    margin: auto !important;
    width: 100% !important;
    border-radius: 20px !important;
}