.class-nosotros {
    font-size: 45px;
}

.titulo-n {
    color: black;
    font-size: 50px;
    text-align: center;
}

.parrafo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}